

<div class= "header">
<h1>WHO GOES TO LEAGUE OF LEGENDS WORLD CHAMPIONSHIP 2015?</h1>
</div>
<div class="col-sm-12 content" >


<div class="col-sm-6 region">
<p class="title">NA Gauntlet according to your Predictions</p>
<hr>

<div class="col-sm-4 bracket">




</div>
<div class="col-sm-4 bracket">

</div>


<div class="col-sm-4 bracket">


<br>
<br>

</div>

</div>



<div class="col-sm-6 region">
<p class="title">EU Gauntlet according to your Predictions</p>
<hr>
<div class="col-sm-4 bracket">



</div>
<div class="col-sm-4 bracket">

</div>


<div class="col-sm-4 bracket">


<br>
<br>

</div>


</div>



</div>
<div class="col-sm-12 send">
<input type="submit" class="btn btn-default" value="Finish">
</form>
</div>